In [63]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import joblib
df = pd.read_csv('music.csv')

In [64]:
print(df)

    age  gender      genre
0    20       1     HipHop
1    23       1     HipHop
2    25       1     HipHop
3    26       1       Jazz
4    29       1       Jazz
5    30       1       Jazz
6    31       1  Classical
7    33       1  Classical
8    37       1  Classical
9    20       0      Dance
10   21       0      Dance
11   25       0      Dance
12   26       0   Acoustic
13   27       0   Acoustic
14   30       0   Acoustic
15   31       0  Classical
16   34       0  Classical
17   35       0  Classical

In [65]:
# Create the input and output sets

In [66]:
x = df.drop(columns=["genre"])
x

    age  gender
0    20       1
1    23       1
2    25       1
3    26       1
4    29       1
5    30       1
6    31       1
7    33       1
8    37       1
9    20       0
10   21       0
11   25       0
12   26       0
13   27       0
14   30       0
15   31       0
16   34       0
17   35       0

In [67]:
y = df['genre']
y

0        HipHop
1        HipHop
2        HipHop
3          Jazz
4          Jazz
5          Jazz
6     Classical
7     Classical
8     Classical
9         Dance
10        Dance
11        Dance
12     Acoustic
13     Acoustic
14     Acoustic
15    Classical
16    Classical
17    Classical
Name: genre, dtype: object

In [68]:
# Create a new instance of the class

In [69]:
model = DecisionTreeClassifier()
model.fit(x, y)
# Below, I will ask the model to predict two genres for a male aged 21 and a female aged 22.
predictions = model.predict([ [21, 1], [22, 0] ])
predictions

array(['HipHop', 'Dance'], dtype=object)

In [70]:
# Measuring the accuracy of this model with train and test datasets

In [71]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [72]:
model.fit(x_train, y_train)
predictions_test = model.predict(x_test)

score = accuracy_score(y_test, predictions_test)
score

0.75

In [73]:
# Saving the model code to a file with joblib ( Joblib.Load allows you to upload the code later on)

In [74]:
joblib.dump(model, 'music-recommender.joblib')

['music-recommender.joblib']

In [75]:
# Vizualizing the model

In [76]:
from sklearn import tree

In [77]:
tree.export_graphviz(model, out_file='music-recommender.dot',
                    feature_names['age', 'gender'],
                    class_names=sorted(y.unique()),
                    label='all',
                    rounded=True,
                    filled=True)

SyntaxError: positional argument follows keyword argument (<ipython-input-77-1d7138d96dbe>, line 2)

In [ ]:
load the dot file on vscode